name: Publish

on:
  release:
    types: [ created ]

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
          registry-url: https://registry.npmjs.org/
      - run: npm ci
      - run: |
          if [[ "$GITHUB_REF_NAME" == "alpha" ]]; then
            npm publish --tag alpha
          elif [[ "$GITHUB_REF_NAME" == "beta" ]]; then
            npm publish --tag beta
          else
            npm publish
          fi
